@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    /* BreakPoints */
    --breakpoint-coxxs: 20rem;         /* 320px */
    --breakpoint-coxs: 23.4375rem;    /* 375px */
    --breakpoint-xs: 26.5625rem;      /* 425px */
    --breakpoint-sm: 36rem;           /* 576px */
    --breakpoint-md: 48rem;           /* 768px */
    --breakpoint-lg: 62rem;           /* 992px */
    --breakpoint-xl: 75rem;           /* 1200px */
    --breakpoint-2xl: 90rem;          /* 1440px */
    --breakpoint-3xl: 103.75rem;      /* 1660px */
    /* colors */
    --color-primary: #FFA12E;
    --color-secondary: #C41230;
    --color-success: #059669;
    --color-pink:#FFDEDE;
    --color-offwhite:#F4F4F4;
    /* opacity color  */
    --color-whiteOp: '#FFFFFF1A';
    --color-orangeOp: '#FFA12E26';
    --color-yellowOpacity:#FFA12E26;
    --color-blackOpacity:#00000099;
}

@layer base {
    .main-container {
        background: #F4F4F4;
        font-family: Lato;
    }
}